<h1 class="my-3 ms-3">購入明細一覧</h1>
<div class="mb-3 mx-3">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th><%= Order.human_attribute_name(:id) %></th>
        <th><%= Order.human_attribute_name(:name) %></th>
        <th><%= Order.human_attribute_name(:billing_amount) %></th>
        <th><%= Order.human_attribute_name(:created_at) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th><%= order.id %></th>
          <th><%= "#{order.last_name} #{order.first_name}" %></th>
          <th><%= number_to_currency(order.billing_amount, unit:"円") %></th>
          <th><%= l order.created_at, format: :long %></th>
          <th><%= link_to "詳細", order_detail_path(order), class: "btn btn-primary" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
