<h1 class="my-3 ms-3">購入明細</h1>
<div class="my-5 mx-3">
  <h2>注文者情報</h2>
  <table class="table">
    <tr>
      <th>Order_ID</th>
      <td><%= order.id %></td>
    </tr>
    <tr>
      <th><%= Order.human_attribute_name(:name) %></th>
      <td><%= "#{order.last_name} #{order.first_name}" %></td>
    </tr>
    <tr>
      <th><%= Order.human_attribute_name(:username) %></th>
      <td><%= order.username %></td>
    </tr>
    <tr>
      <th><%= Order.human_attribute_name(:zip) %></th>
      <td><%= order.zip.to_s.sub(/\A(\d{3})(\d{4})\z/, '\1-\2') %></td>
    </tr>
    <tr>
      <th><%= Order.human_attribute_name(:email) %></th>
      <td><%= order.email %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= "#{order.prefecture} #{order.municipality} #{order.street}" %></td>
    </tr>
  </table>
</div>
<div class="my-5 mx-3">
  <h2>購入商品</h2>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th><%= OrderDetail.human_attribute_name(:product_name) %></th>
        <th><%= OrderDetail.human_attribute_name(:price) %></th>
        <th><%= OrderDetail.human_attribute_name(:quantity) %></th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <th><%= item.product_name %></th>
          <th><%= number_to_currency(item.price, unit:"円") %></th>
          <th><%= item.quantity %></th>
          <th><%= number_to_currency(item.price * item.quantity, unit:"円") %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if order.promotion_code  %>
    <p class="fw-semibold"><%= "promo code適用 : -#{number_to_currency(order.promotion_code.discount_amount, unit:"円")}" %></p>
  <% end %>
  <p class="fw-semibold"><%= "合計金額 : #{number_to_currency(order.billing_amount, unit:"円")}" %></p>
</div>
