<% products.each do |product| %>
  <div class="col mb-5">
    <div class="card h-100">
      <%= link_to product_path(product) do %>
        <!-- Product image-->
        <%= image_tag product.image.variant(resize_to_fit: [450, 300]), class: "card-img-top" %>
      <% end %>
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= link_to product.name, product_path(product) %></h5>
          <!-- Product price-->
          <%= number_to_currency(product.price, unit:"円") %>
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <%= link_to "カートに追加", add_item_path(product_id: product.id), data: { "turbo-method": :post }, class: "btn btn-outline-dark mt-auto" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
