<div class="container">
  <%= render partial: "shared/error_messages", locals: { model: @order } %>
  <main>
    <div class="py-5 text-center">
      <h2>購入フォーム</h2>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">カート内商品</span>
          <span class="badge bg-primary rounded-pill">
            <%= @cart_items.count %>
          </span>
        </h4>
        <ul class="list-group mb-3">
          <% @cart_items.each do |cart_item| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0"><%= cart_item.product.name %></h6>
                <small class="text-body-secondary"><%= "数量：#{cart_item.quantity}" %></small>
              </div>
              <span class="text-body-secondary"><%= number_to_currency(cart_item.sum_of_price, unit:"円") %></span>
              <%= link_to "削除", (destroy_path(product_id: cart_item.product.id)), data: {turbo_method: :delete, turbo_confirm: "商品「#{cart_item.product.name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
            </li>
          <% end %>
          <% if @cart.promotion_code %>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
              <div class="text-success">
                <h6 class="my-0">割引</h6>
                <small><%= @cart.promotion_code.promotion_code %></small>
              </div>
              <span class="text-success"><%= "-#{number_to_currency(@cart.promotion_code.discount_amount, unit:"円")}" %></span>
            </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>合計金額</span>
            <strong>
              <% if @cart.promotion_code %>
                <% if (@total - @cart.promotion_code.discount_amount) >= 0 %>
                  <%= number_to_currency((@total - @cart.promotion_code.discount_amount), unit:"円") %>
                <% else %>
                  0円
                <% end %>
              <% else %>
                <%= number_to_currency(@total, unit:"円") %>
              <% end %>
            </strong>
          </li>
        </ul>
        <% unless @cart.promotion_code %>
          <%= form_with url: promotion_codes_update_path, model: @cart, method: :post, class:"row", local: true do |f| %>
            <div class="input-group">
              <%= f.text_field :promotion_code, class: "form-control", placeholder: "Promo code" %>
              <%= f.submit "適用", class: "btn btn-secondary" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-7 col-lg-8">
        <%= form_with url: orders_create_path, model: @order, method: :post, class:"row",  local: true do |form| %>
          <h4 class="mb-3">お客様情報</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <%= form.label :last_name, class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control", id: "order_last_name", placeholder: "山田" %>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <%= form.label :first_name, class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control", id: "order_first_name", placeholder: "太郎" %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <%= form.label :username, class: "form-label" %>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <%= form.text_field :username, class: "form-control", id: "order_username", placeholder: "Username" %>
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="col-12">
              <%= form.label :email, class: "form-label" %>
              <%= form.text_field :email, class: "form-control", id: "order_email", placeholder: "you@example.com" %>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div>
              <div class="col-md-3">
                <%= form.label :zip, class: "form-label" %>
                <%= form.text_field :zip, class: "form-control", id: "order_zip", placeholder: "1234567" %>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :prefecture, class: "form-label" %>
              <%= form.text_field :prefecture, class: "form-control", id: "order_prefecture", placeholder: "神奈川県" %>
              <div class="invalid-feedback">
                Prefecture required.
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :municipality, class: "form-label" %>
              <%= form.text_field :municipality, class: "form-control", id: "order_municipality", placeholder: "横浜市" %>
              <div class="invalid-feedback">
                Municipality required.
              </div>
            </div>
            <div class="col-12">
              <%= form.label :street, class: "form-label" %>
              <%= form.text_field :street, class: "form-control", id: "order_street", placeholder: "中区日本大通1" %>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">クレジットカード情報</h4>
          <div class="row gy-3">
            <div class="col-md-6">
              <%= form.label :name_on_card, class: "form-label" %>
              <%= form.text_field :name_on_card, class: "form-control", id: "order_name_on_card", placeholder: "TARO YAMADA" %>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6">
              <%= form.label :credit_cart_number, class: "form-label" %>
              <%= form.text_field :credit_cart_number, class: "form-control", id: "order_credit_cart_number", placeholder: "1234567890123456" %>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :expiration, class: "form-label" %>
              <%= form.text_field :expiration, class: "form-control", id: "order_expiration", placeholder: "MM/YY" %>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3">
              <%= form.label :cvv, class: "form-label" %>
              <%= form.text_field :cvv, class: "form-control", id: "order_cvv", placeholder: "123" %>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="my-4">
          <%= form.submit "購入する", class: "w-100 btn btn-primary btn-lg mb-5" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
